@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F97316;
  --secondary: #334155;
  --background: #0F172A;
  --text: #F8FAFC;
}

body {
  background-color: var(--background);
  color: var(--text);
}
